[Unit]
Description=LCD-LMS
After=LCDd.service squeezelite.service

[Service]
User=nobody
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/local/bin/lcd_lms.pl SqueezeLite

[Install]
WantedBy=multi-user.target
