[Unit]
Description=LCD-LMS
After=LCDd.service squeezelite.service

[Service]
DynamicUser=yes
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/local/bin/lcd_lms.pl -m

[Install]
WantedBy=multi-user.target
